App{
  display:flex;
  width:100vw;
  justify-content:center;
  align-items: center;
  flex-direction: row;
  flex-wrap:wrap;
}
.checked{
  text-decoration: line-through;
  color:green;
  font-weight: bolder;
  font-size: xx-large;
  text-decoration-thickness: 3px;
}